body {
    height: 100%; /* Asegúrate de que el cuerpo ocupe el 100% de la altura del viewport */
    margin: 0; /* Elimina el margen por defecto */
    display: flex; /* Usa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}